*{
  box-sizing: border-box;
  text-align: center;
  background-color: black;
}

body{
  font-family: "Oswald", sans-serif;
}

h1{
  color: pink;
  margin-top: 80px;
  font-size: 40px;
}

.intro-txt{
  color: white;
  font-size: 13px;
}

#login, #loggedin {
  display: none;
}

.search-bar{
  width: 50%;
  margin: 40px;
  color: pink;
}

.profilepic{
  width: 150px;
  margin: 20px;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

#oauth-template{
  display: none;
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-size: cover;
    margin: 10px;
}

/*.cover{
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
}*/
.cover:hover {
    cursor: pointer;
    background: rgba(100%,0,0,0.5);
}

.cover:click{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 700px){
  .cover{
    width: 85%;
  }
}

.results{
  border: 1px solid green;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.cover.playing {
    border: 5px solid #e45343;
}

